<div class="background">
  <div class="form-container">
    <%= form_with model: @user, local: true do |form| %>
      <h1>Register Form</h1>
      <section id="name-field">
        <div class="input-field">
          <%= form.label :first_name, "First Name" %>
          <%= form.text_field :first_name, placeholder: "Enter your first name" %>
        </div>
        <div class="input-field">
          <%= form.label :last_name, "Last Name" %>
          <%= form.text_field :last_name, placeholder: "Enter your last name" %>
        </div>
      </section>
      <section id="DoB-gender">
        <div class="input-field">
          <%= form.label :birthday, "Date of Birth" %>
          <%= form.date_field :birthday %>
        </div>
        <div class="input-field">
          <%= form.label :gender, "Gender" %>
          <div class="radio-group">
            <span> <%= form.radio_button :gender, 'male', id: "gender-male" %></span>
            <span> <%= form.label :gender_male, "Male", for: "gender-male" %></span>
            <span> <%= form.radio_button :gender, 'female', id: "gender-female" %></span>
            <span> <%= form.label :gender_female, "Female", for: "gender-female" %></span>
          </div>
        </div>
      </section>
      <section id="contact-info">
        <div class="input-field">
          <%= form.label :email, "Email" %>
          <%= form.email_field :email, placeholder: "Enter your email" %>
        </div>
        <div class="input-field">
          <%= form.label :phone, "Phone Number" %>
          <%= form.telephone_field :phone, placeholder: "Enter your phone number" %>
        </div>
      </section>
      <section id="subject-submit">
        <div class="input-field">
          <%= form.label :subject, "Subject" %>
          <%= form.select :subject, options_for_select([["General Inquiry", "general"], ["Support", "support"], ["Feedback", "feedback"]]) %>
        </div>
      </section>
      <div class="input-field">
        <%= form.submit "Submit" %>
      </div>
    <% end %>
  </div>
</div>
