<%=stylesheet_link_tag('_form')%>
<div class="background">
  <div class="form-container">
    <%= form_with model: @user, local: true do |form| %>
      <h1>Register Form</h1>
      
      <section id="name-field">
            <div class="input-field">
          <%= form.label :first_name, "First Name" %>
          <%= form.text_field :first_name, placeholder: "Enter your first name", class: "form-control #{'is-invalid' if @user.errors[:first_name].any?}" %>
            <div class="error-message">
          <% if @user.errors[:first_name].any? %>
              <div class="error-message">
              <%= @user.errors[:first_name].first %>
            </div>
          <% end %>
        </div>
        </div>
        <div class="input-field">
          <%= form.label :last_name, "Last Name" %>
          <%= form.text_field :last_name, placeholder: "Enter your last name", class: "form-control #{'is-invalid' if @user.errors[:last_name].any?}" %>
            <div class="error-message">
          <% if @user.errors[:last_name].any? %>
          <div class="error-message">
              <%= @user.errors[:last_name].first %>
            </div>
          <% end %>
        </div>
        </div>
      </section>
      
      <section id="DoB-gender">
        <div class="input-field">
          <%= form.label :birthday, "Date of Birth" %>
          <%= form.date_field :birthday, class: "form-control #{'is-invalid' if @user.errors[:birthday].any?}" %>
            <div class="error-message">
          <% if @user.errors[:birthday].any? %>
          <div class="error-message">
              <%= @user.errors[:birthday].first %>
            </div>
          <% end %>
        </div>
        </div>
        <div class="input-field">
          <%= form.label :gender, "Gender" %>
          <div class="radio-group">
            <span class="radio-flex"> 
              <span><%= form.radio_button :gender, 'male', id: "gender-male" %></span>
              <span><%= form.label :gender_male, "Male", for: "gender-male" %></span>
            </span>
            <span class="radio-flex"> 
              <span><%= form.radio_button :gender, 'female', id: "gender-female" %></span>
             <span> <%= form.label :gender_female, "Female", for: "gender-female" %></span>
            </span>
          </div>

            <div class="error-message">
          <% if @user.errors[:gender].any? %>
             <div class="error-message">
              <%= @user.errors[:gender].first %>
            </div>
          <% end %>
        </div>
        </div>
      </section>
      
      <section id="contact-info">
        <div class="input-field">
          <%= form.label :email, "Email" %>
          <%= form.email_field :email, placeholder: "Enter your email", class: "form-control #{'is-invalid' if @user.errors[:email].any?}" %>
            <div class="error-message">
          <% if @user.errors[:email].any? %>
             <div class="error-message">
              <%= @user.errors[:email].first %>
            </div>
          <% end %>
        </div>
        </div>
        <div class="input-field">
          <%= form.label :phone, "Phone Number" %>
          <%= form.telephone_field :phone, placeholder: "Enter your phone number", class: "form-control #{'is-invalid' if @user.errors[:phone].any?}" %>
            <div class="error-message">
          <% if @user.errors[:phone].any? %>
                 <div class="error-message">
              <%= @user.errors[:phone].first %>
            </div>
          <% end %>
        </div>
        </div>
      </section>
      
      <section id="subject-submit">
        <div class="input-field">
          <%= form.label :subject, "Subject" %>
          <%= form.select :subject, options_for_select([["Dota2 101", "dota2 101"], ["Rov basic laning", "Rov basic laning"], ["Deadlock tactic", "Deadlock tactic"]]), {}, { class: "form-control #{'is-invalid' if @user.errors[:subject].any?}" } %>
            <div class="error-message">
          <% if @user.errors[:subject].any? %>
             <div class="error-message"> 
              <%= @user.errors[:subject].first %>
            </div>
          <% end %>
        </div>
        </div>
      </section>
      
      <div class="input-field">
        <%= form.submit "Submit" %>
      </div>
      
    <% end %>
  </div>
</div>
