 <%= form_with model: @user, local:true do |form| %>
          <h1>Register Form</h1>
          <section id="name-field">
            <div class="input-field">
              <%= label_tag :firstname, "First Name" %>
              <%= text_field_tag :firstname, nil, placeholder: "Enter your first name" %>
            </div>
            <div class="input-field">
              <%= label_tag :lastname, "Last Name" %>
              <%= text_field_tag :lastname, nil, placeholder: "Enter your last name" %>
            </div>
          </section>
          <section id="DoB-gender">
            <div class="input-field">
              <%= label_tag :DoB, "Date of Birth" %>
              <%= date_field_tag :DoB %>
            </div>
            <div class="input-field">
              <label>Gender</label>
              <div class="radio-group">
                <%= label_tag :gender_male do %>
                  <%= radio_button_tag :gender, 'male', false, id: "gender-male" %>
                  <span>Male</span>
                <% end %>
                <%= label_tag :gender_female do %>
                  <%= radio_button_tag :gender, 'female', false, id: "gender-female" %>
                  <span>Female</span>
                <% end %>
              </div>
            </div>
          </section>
          <section id="contact-info">
            <div class="input-field">
              <%= label_tag :email, "Email" %>
              <%= email_field_tag :email, nil, placeholder: "Enter your email" %>
            </div>
            <div class="input-field">
              <%= label_tag :phone, "Phone Number" %>
              <%= telephone_field_tag :phone, nil, placeholder: "Enter your phone number" %>
            </div>
          </section>
          <section id="subject-submit">
            <div class="input-field">
              <%= label_tag :subject, "Subject" %>
              <%= select_tag :subject, options_for_select([["General Inquiry", "general"], ["Support", "support"], ["Feedback", "feedback"]]) %>
            </div>
          </section>
          <div class="input-field">
            <%= submit_tag "Submit" %>
          </div>
        <% end %>