<%=stylesheet_link_tag('show')%>
<div class="background">
  <div class="form-container">
    <h1>
      User Info   
    </h1>
    <div class="user-info-list">
    <span><%=@user.first_name%></span>
    <span><%=@user.last_name%></span>
    <br>
    <span class="info-label">birthdate</span>
    <span>
      <%=@user.birthday%>
    </span>
    <br>
    <span class="info-label">gender</span>
    <span><%=@user.gender%><br>
    </span>
    <span class="info-label">email</span>
    <span>
      <%=@user.email%><br>
    </span>
    <span class="info-label">phone number</span>
    <span>
      <%=@user.phone%><br>
    </span>
    <span class="info-label">enrolled subject</span>
    <span>
      <%=@user.subject%><br>
    </span>
    </div>
    <div class="button-bar">
    <%= link_to "home",root_path,class: "button-link" %><br>
    <%= link_to"edit",edit_user_path,class: "button-link"%><br>
    <%= render partial: 'stimulus_demos/modal_confirm', var: @var%>
      </div>
  </div>
</div>